{% extends 'layoutIn.html' %}

{% block title %}About{% endblock %}

{% block content %}

<div class="about-title">
    <h1>About</h1>
</div>

<div class="about">
    <h2>Sobre Nosotros</h2>
    <p>Somos un grupo de estudiantes de Ingeniería en Sistemas apasionados por la tecnología y su aplicación en la mitigación de desastres naturales. Nuestra misión es utilizar nuestros conocimientos en sistemas y programación para desarrollar herramientas innovadoras que mejoren la detección y el análisis de la actividad sísmica.</p>
    <h3>¿Qué Hacemos?</h3>
    <p>En nuestro proyecto de geolocalización sísmica, nos enfocamos en:</p>
    <ul>
        <li>Monitoreo Sísmico: Utilizamos avanzados algoritmos de procesamiento de datos para identificar y localizar eventos sísmicos en tiempo real.</li>
        <li>Análisis de Datos: Procesamos grandes volúmenes de datos sísmicos para detectar sus epicentros</li>
        <li>Desarrollo de Software: Creamos la aplicacion para permitir a los usuarios y comunidades acceder a información sísmica precisa y oportuna.</li>
    </ul>
    <h3>Nuestra Visión</h3>
    <p>Creemos que la tecnología tiene el poder de salvar vidas y reducir los impactos negativos de los desastres naturales. A través de nuestro trabajo, aspiramos a:</p>
    <ul>
        <li>Mejorar la detección y el monitoreo de la actividad sísmica.</li>
        <li>Proporcionar información precisa y oportuna sobre sismos a las comunidades afectadas.</li>
        <li>Desarrollar herramientas innovadoras para la prevención y mitigación de desastres naturales.</li>
    </ul>
    <p>Este proyecto fue desarrollado por estudiantes de la Universidad Latina de Costa Rica, en el curso de ProgramacionIV, en el segundo cuatrimestre del 2024.</p>
    <p>El proyecto fue desarrollado utilizando las siguientes tecnologías:</p>
    <ul>
        <li> <a href="https://www.python.org/" target="_blank">Python</a></li>
        <li> <a href="https://flask.palletsprojects.com/en/3.0.x/" target="_blank">Flask</a></li>
        <li> <a href="https://developer.mozilla.org/es/docs/Web/HTML" target="_blank">HTML</a></li>
        <li> <a href="https://developer.mozilla.org/es/docs/Web/CSS" target="_blank">CSS</a></li>
        <li> <a href="https://developer.mozilla.org/es/docs/Web/JavaScript" target="_blank">JavaScript</a></li>
        <li> <a href="https://leafletjs.com/" target="_blank">Leaflet</a></li>
        <li> <a href="https://getbootstrap.com/" target="_blank">Bootstrap</a></li>
        <li> <a href="https://earthquake.usgs.gov/fdsnws/event/1/" target="_blank">USGS Earthquake API</a></li>
    </ul>

{% endblock %}