{% extends 'layoutIn.html' %}

{% block title %}Registros{% endblock %}

{% block content %}

<div class="logs-title">
    <h1>Registros</h1>
</div>

<div class="map" id="map" style="display: none;"></div>


<div class="News">
    <table class="table">
        <thead>
            <tr>
                <th>Magnitud</th>
                <th>Lugar</th>
                <th>Tiempo</th>
                <th>Longitud</th>
                <th>Latitud</th>
            </tr>
        </thead>
        <tbody>
            <tr>
            </tr>
        </tbody>
    </table>
</div>

{% endblock %}