<!-- 
Archivo: /d:/Universidad/Progra4/Proyecto_Progra_4/backend/templates/main.html

Este archivo es una plantilla HTML utilizado en el proyecto de Geolocalizador de Sismos. 

La plantilla extiende de 'layoutIn.html' y define el título de la página como "Geolocalizador de Sismos".

El contenido principal de la página incluye un título, un contenedor para el mapa y un contenedor para las noticias.

El contenedor del mapa contiene un formulario de filtro de búsqueda que permite al usuario seleccionar la magnitud de los sismos y la fecha de inicio. Al hacer clic en el botón "Filtrar", se envía el formulario al servidor.

El contenedor de noticias muestra una tabla vacía que se llenará dinámicamente con los datos de los sismos seleccionados.

Este archivo utiliza clases CSS para dar estilo a los elementos y utiliza JavaScript para interactuar con el mapa y enviar el formulario de filtro.

-->
{% extends 'layoutIn.html' %} {% block title %}Geolocalizador de Sismos{%
endblock %} {% block content %}

<div class="home-title">
  <h1>Geolocalizador de Sismos</h1>
</div>

<div class="main-map-container">
  <div class="filter-container">
    <form id="filter-form" method="POST" action="/">
      <fieldset>
        <legend>Filtro de Busqueda</legend>
        <div class="mag-select-container">
          <label for="mag-select" class="form-label mt-4"
            >Seleccione la Magnitud</label
          >
          <select class="form-select" id="mag-select" name="mag-select">
            <option>3</option>
            <option>4</option>
            <option>5</option>
            <option>6</option>
            <option>7</option>
          </select>
        </div>

        <div>
          <label for="sismo-date">
            Fecha de Inicio
            <input
              class="form-date-input"
              name="sismo-date"
              id="sismo-date"
              type="date"
              placeholder="Fecha Inicio"
              required
            />
          </label>
        </div>

        <div>
          <button id="btn-filter" type="submit" class="btn btn-primary">
            Filtrar
          </button>
        </div>
      </fieldset>
    </form>
  </div>

  <div class="map" id="map"></div>
</div>

<div class="News" style="display: none">
  <h2>Noticias</h2>
  <table class="table">
    <thead>
      <tr>
        <th>Magnitud</th>
        <th>Lugar</th>
        <th>Tiempo</th>
        <th>Longitud</th>
        <th>Latitud</th>
      </tr>
    </thead>
    <tbody>
      <tr></tr>
    </tbody>
  </table>
</div>

{% endblock %}
