<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="stylesheet"  href="{{ url_for('static', filename='signPageCSS.css') }}">
    <title>Login Page</title>
</head>

<body class="body-profile">

    <div class="container-profile" id="container-profile">
        <div class="form-container-profile sign-up">
            <form>
                <h1 class="Regist-header">Crear Cuenta</h1>
                <input id="register-name" type="text" placeholder="Nombre" required>
                <input id="register-lastNames" type="text" placeholder="Apellidos" required>
                <input id="register-email" type="email" placeholder="Email" required>
                <input id="register-tel" type="text" placeholder="Telefono" pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}" required>
                <input id="register-password" type="password" placeholder="Contraseña" required>
                <input id="register-confirmPassword" type="password" placeholder="Confirmar Contraseña" required>
                <input id="register-dateOfBirth" type="date" placeholder="Fecha Nacimiento" required>
                <button>Registrarse</button>
            </form>
        </div>
        <div class="form-container-profile sign-in">
            <form>
                <h1>Iniciar Sesion</h1>
                <div class="social-icons">
                    <a href="#" class="icon"><i class="fa-brands fa-google-plus-g"></i></a>
                    <a href="#" class="icon"><i class="fa-brands fa-facebook-f"></i></a>
                    <a href="#" class="icon"><i class="fa-brands fa-github"></i></a>
                    <a href="#" class="icon"><i class="fa-brands fa-linkedin-in"></i></a>
                </div>
                <input id="login-email" type="email" placeholder="Email" required>
                <input id="login-password" type="password" placeholder="Contraseña" required>
                <button>Iniciar Sesion</button>
            </form>
        </div>
        <div class="toggle-container">
            <div class="toggle">
                <div class="toggle-panel toggle-left">
                    <h1>Bienvenido de Nuevo!</h1>
                    <p>Ingresa tus datos personales para utilizar todas las funciones del sitio</p>
                    <button class="hidden" id="login">Iniciar Sesion</button>
                </div>
                <div class="toggle-panel toggle-right">
                    <h1>Hola, Amigo!</h1>
                    <p>Regístrate con tus datos personales para utilizar todas las funciones del sitio</p>
                    <button class="hidden" id="register">Registrarse</button>
                </div>
            </div>
        </div>
    </div>

    <script src="{{ url_for('static', filename='profile.js') }}"></script>

</body>

</html>